* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "HurmeHEMA","Century Gothic",sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style: none;
}


/* header----------------------------------------------------------- */

header{
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    background: white;
    box-shadow: 0 0 .4rem 0 rgba(0, 0, 0, 0.4);
}

.logo{
    height: 10vh;
}

.logo--link{
    margin-right: auto;
}

.header-normal{
    padding: 1vh 10vh 1vh 10vh;
    width: 100%; 
    display: flex;
    align-items: center;
    gap: 5vh;
}

.items{
    font-size: 2.5vh;
    font-weight: 550;
    display: flex;
    gap: 2.5vh;
}


.header-hamburger{
    display: none;
    overflow: hidden;
    position: relative;
}

#myLinks {
    display: none;
}

.header-hamburger a {
    padding: 2vh 10vh 2vh 10vh;
    text-decoration: none;
    font-size: 2rem;
    display: block;
}

.bar{
    height: 8rem;
    width: 8rem;
    color: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

/* footer */
.footer{
    background: #9C1AFF;
    background-size: 50%;
    height: 20rem;

}

.footer > ul{
    margin: 0 15rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    height: 100%;
    color: white;
}

.hulp{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
}

h5{
    font-size: 3.8rem;
}

.hulp > p{
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
}

.ks{
    color: white;
    border-bottom: white solid 1px;
}

.hulp > p > a{
    color: white;
}

.hulp > p > a:hover{
    border-bottom: white solid 1px;
}

.hulp > form{
    display: flex;
    position: relative;
}

.hulp > form > input{
    padding: 1rem;
    border: none;
    border-radius: 2px 0 0 2px;
    width: 100%;
    position: relative;
}

.hulp > form > button{
    position: absolute;
    background: none;
    right: 1vh;
    border: none;
    border-radius: 0 .2rem .2rem 0;
}

.hulp > form > button:hover{
    cursor: pointer;
}

.hulp > form > button > i{
    background: none;
    padding: 1.1rem;
}




h6{
    font-size: 2rem;
    color: black;
}

.footer-white > ul{
    margin: 0 15rem 0 15rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    height: 100%;
}

.ico--1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    overflow: hidden;
}

.ico--1 > ul{
    display: flex;
    gap: 1rem;
}

.ico--2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
}

.ico--2 > p{
    font-size: 1.5rem;
    color: black;
}

.ico--2 > form{
    display: flex;
    gap: .5rem;
    width: 100%;
}

.ico--2 > form > input{
    padding: 1rem;
    border: #d0cdc7 1px solid;
}

.ico--2 > form > button{
    background: #d0cdc7;
    border: none;
    padding: 1rem;
}

.ico--1 > ul > li > img{
    height: 3rem;
    width: auto;
    border-radius: 8px;
    object-fit: fill;
}
.ico--1 > ul > li > a > img{
    height: 3rem;
    width: auto;
    border-radius: 8px;
    object-fit: fill;
}

@media screen and (max-width: 80rem) {
    .footer{
        height: 16rem;
    }
    h5{
        font-size: 3rem;
    }
    .hulp > p{
        font-size: 1rem;
    }
    h6{
        font-size: 1.4rem;
    }
    .ico--2 > p{
        font-size: 1rem;
    }
    .footer > ul{
        margin: 0 8rem;
    }

    .ico--1 > ul > li > img{
        height: 1.5rem;
    }
    .ico--1 > ul > li > a > img{
        height: 1.5rem;
    }
    
    .hulp >form > button, form > input{
        font-size: .7rem;
        padding: 0.5rem;
        height: 2rem;
    }

    .ico--2 >form>button{
        font-size: .7rem;   
        padding: .5rem;
    }

    .hulp > form > button{
        right: 0vh;
    }
    .hulp > form > button > i{
        background: none;
        padding: .2rem;
    }
}

@media screen and (max-width: 50rem) {
    /* header--------------------------------------------------------- */
     .header-hamburger {
        display: block;
     }
     .header-normal{
        display: none;
    }

    .footer > ul{
        margin: 0;
    }

    .footer{
        height: 6.5rem;
    }

    .footer > ul{
        margin: 0 3rem;
        gap: .1rem;
    }

    h5{
        font-size: 1rem;
    }

    .hulp{
        gap: 0.5rem;
        padding: 1rem;
    }
    
    .hulp > p{
        font-size: .5rem;
    }
    h6{
        font-size: 1rem;
    }
    .ico--2 > p{
        font-size: .5rem;
    }

    .ico--1, .ico--2 {
        gap: 1rem;
        padding: 1rem;
    }

    .ico--1 > ul > li > img{
        height: 1rem;
    }
    .ico--1 > ul > li > a > img{
        height: 1rem;
    }

}