* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "HurmeHEMA","Century Gothic",sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: 100%;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style: none;
}


/* cover---------------------------------------------------------------- */
.box{
    width:100%;
    height: 100%;
    position:relative;
}

.box > figure{
    width: 100%;
    height: 100%;
}

.box > figure > img{
    height: 100%;
    width: 85%;
    margin-left: 15%;
    border-radius: 0.8rem 0 0 0.8rem;
}

.box section{
    position: absolute;
    left: 5%;
    top: 10%;
    height: 80%;
    width: 37%;
    border-radius: .8rem;
    background: lightblue;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan > a{
    width: 100%;
}

h1{
    font-size: 4rem;
    color: white;
    margin-bottom: auto;
} 

.mainButton{
    font-size: 1.6rem;
    font-weight: 600;
    background: none;
    color: white;
    border: white solid .2rem;
    border-radius: .8rem;
    padding: 2.5rem;
    width: 100%;
}

.mainButton:hover{
    transition: 0.5s;
    background: white;
    color: black;
    cursor: pointer;
}



/* main--------------------------------------------------------------- */
main{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5rem;
    gap: 5rem;
}

.mid{
    display: grid;
    grid-template-columns: 60% 40%;
}

.bigPic{
    height: auto;
    width: 100%;
    object-fit: contain;
}

.bigPic-1{
    display: block;
}
.bigPic-2{
    display: none;
}

.interessant{
    background: plum;
    border-radius: 0.8rem;
    padding: 3rem;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.interessant > a{
    width: 100%;
}

h2{
    font-size: 4rem;
    color: white;

}

.text{
    font-size: 1.5rem;
    color: white;
    margin-bottom: auto;
}

.textButton{
    font-size: 1.6rem;
    font-weight: 600;
    background: none;
    color: white;
    border: white solid .2rem;
    border-radius: .8rem;
    padding: 2.5rem;
    width: 100%;
}

.textButton:hover{
    transition: 0.5s;
    background: white;
    color: black;
    cursor: pointer;
}


/* categorieën */

.picas{
    font-family: sans-serif;
    font-size: 2rem;    
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    height: 100%;
    gap: 3rem;
    margin: 5rem;
}

.product{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.product__figure{
    height: auto;
    width: 100%;
}

.product__image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .8rem .8rem 0 0;
}

.product__section{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    border-radius: 0 0 .8rem .8rem;
}

.product__section-1{
    background: #f37b02;
}
.product__section-2{
    background: #f8c011;
}
.product__section-3{
    background: #0065ec;
}
.product__section-4{
    background: #e30564;
}

.arrowButton{
    height: 6rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: white;
    border: white solid .2rem;
    border-radius: 50%;
}

.product:hover .arrowButton{
    transition: 0.5s;
    background: white;
    color: black;
    cursor: pointer;
}

h3{
    font-size: 4rem;
    color: white;
}

.figureText{
    font-size: 1.5rem;
    color: white;
}

.product__button{
    outline: none;
    border: none;
    background: none;
    color: var(--font-color);
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .3rem;
} 




/* steps */
.steps{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
  }
  
  .step {
    background: #F5F5F5;
    border: 1px solid #CCC;
    border-radius: 0.8rem;
    padding: 2rem;
  }
  
  .step-number {
    background: #FF2D00;
    color: #FFF;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 1rem;
  }
  
  h4 {
    color: #FF2D00;
  }


/* functie */
.functieImage{
    height: 100%;
    width: 85%;
    object-fit: cover;
    margin-left: 15%;
    border-radius: 0.8rem;
}

.functie{
    position: absolute;
    left: 10vh;
    top: 8vh;
    height: 80%;
    width: 55rem;
    background: #00838c;
    border-radius: 0.8rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5{
    font-size: 4rem;
    color: white;
} 

.functieText{
    font-size: 1.5rem;
    color: white;
}




/* reviews */

.section{
    height: 100%;
}

.section--thirt{
    background: white;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.review > figure{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.review__img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.arrow{
    width: 10%;
    font-size: 300%;
    background: none;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow:hover{
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    cursor: pointer;
}

.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    gap: 2rem;
    width: 80%;  
    flex-wrap: wrap;
}

.review{
    width: 30rem;
    min-height: 30rem;
    list-style: none;
    padding: 4rem;
    border-radius: .5rem;
    background: white;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2),
    inset 0 -1rem 1rem -1rem rgba(0, 0, 0, 0.2);
    position: relative;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    }

.review:nth-of-type(4), .review:nth-of-type(5), .review:nth-of-type(6){
    display: none;
}

.stars{
    color: gold;
}

.review > p{
    font-size: 65%;
    font-style: italic;
    padding-bottom: 2rem;
    border-bottom: .5rem solid rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn{
    form{
        opacity: 0;
        filter: blur(10px);
    }
    to{
        opacity: 0;
        filter: blur(0);
    }
}











@media screen and (max-width: 87.5rem) {
    
    h1{
        font-size: 3rem;
    } 
    main{
        margin: 3rem;
    }

}

@media screen and (max-width: 67.5rem) {
    /* cover */
    .box{
        display: flex;
        flex-direction: column;
        padding: 0 2rem 0 2rem;
        height: 100%;
    }
    
    .box > figure{
        height: 80%;
        width: 100%;
        background: lightblue;
        border-radius: .8rem .8rem 0 0;
        
    }

    .box > figure > img{
        width: 100%;
        margin-left: 0;
        border-radius: .8rem .8rem 0 0;
    }
    
    .box > section{
        position: relative;
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        border-radius: 0 0 .8rem .8rem;
    }
    
    h1{
        font-size: 2rem;
    } 
    
    .mainButton{
        font-size: 3rem;
        width: auto;
    }


    /* main */
    main{
        margin: 2rem;
    }
    .mid{
        grid-template-columns: 100%;
    }
    .bigPic-1{
        display: none;
    }
    .bigPic-2{
        display: block;
        border-radius: .8rem .8rem 0 0;
    }


    .interessant{
        margin: 0rem;
        padding: 1rem 3rem 2rem;
        border-radius: 0 0 .8rem .8rem;
    }
    
    .text{
        font-size: 1.5rem;
        color: white;
        margin-bottom: auto;
    }
    .textButton{
        width: auto;
    }

    /* categorieën */
    .picas{
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    .product__section{
        padding: 1rem;
    }

    h3{
        font-size: 1.5rem;
    }
    .figureText{
        font-size: .7rem;
    }

    /* steps */
    .steps{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* functie */
    .functieImage{
        width: 100%;
        object-fit: cover;
        margin-left: 0;
        border-radius: 0.8rem 0.8rem 0 0;
    }
    
    .functie{
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        border-radius: 0 0 0.8rem 0.8rem;
        padding: 1rem 3rem 2rem;
    }
    
    h5{
        font-size: 2rem;
    } 
    
    .functieText{
        font-size: 1rem;
    }
}

@media screen and (max-width: 50rem) {
    /* cover */
    h1{
        font-size: 1.5rem;
    } 
    
    .mainButton{
        font-size: 2rem;
    }
}