*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: "HurmeHEMA","Century Gothic",CenturyGothic,AppleGothic,sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}


a{
    text-decoration: none;
    color: #323232;
}



/* Header */

.header{
    padding: 1.2rem 0 3.16rem 0;
    padding-top: 3rem;
    width: 90%; 
    display: flex;
    align-items: center;
    gap: 5rem;
}


.logo{
    height: 5.5rem;
    margin-right: auto;
}


.items{
    font-size: 1.5rem;
    font-weight: 550;
    display: flex;
    gap: 2.5rem;
}








/* main */

main{
    height: 100rem;
}

.picture{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


h1{
    position: absolute;
    left: 10rem;
    top: 30rem;
    font-size: 5rem;
    color: aliceblue;
}

.box{
    position: relative;
}



