*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: "HurmeHEMA","Century Gothic",CenturyGothic,AppleGothic,sans-serif; 
    display: flex;
    flex-direction: column;
}


a{
    text-decoration: none;
    color: #323232;
}

li{
    list-style: none;
}



/* Header */

.header{
    padding: 1vh 10vh 1vh 10vh;
    width: 100%; 
    display: flex;
    align-items: center;
    gap: 5vh;
}


.logo{
    height: 8vh;
}

.logo--link{
    margin-right: auto;
}


.items{
    font-size: 2.5vh;
    font-weight: 550;
    display: flex;
    gap: 2.5vh;
}




/* cover */
.box{
    position: relative;
}

.cover{
    height: auto;
    width: 100%;
    object-fit: cover;
}

.slogan{
    position: absolute;
    left: 10vh;
    top: 8vh;
    height: 80%;
    background: lightblue;
    border-radius: 8px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 4rem;
    color: white;
    margin-bottom: auto;
} 

.mainButton{
    font-size: 4rem;
    background: none;
    color: white;
    border: white solid .2rem;
    border-radius: 1vh;
    padding: 1rem;
}

.mainButton:hover{
    transition: 0.5s;
    background: white;
    color: black;
    cursor: pointer;
}



/* main */

main{
    display: flex;
    flex-direction: column;
    height: 200rem;
    margin: 5rem;
    gap: 5rem;
}

.mid{
    height: auto;
    width: 100%;
    margin: 0 5rem 0 5rem;
    object-fit: fill;
    position: relative;
}

.interessant{
    position: absolute;
    top: 3vh;
    right: 0;
    width: 45rem;
    height: 90%;
    margin-right: 15rem;
    background: plum;
    border-radius: 8px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 2.5rem;
    color: white;

}

.text{
    font-size: 1.5rem;
    color: white;
    margin-bottom: auto;
}

.textButton{
    font-size: 4rem;
    background: none;
    color: white;
    border: white solid .2rem;
    border-radius: 1vh;
    padding: 1rem;
}

.textButton:hover{
    transition: 0.5s;
    background: white;
    color: black;
    cursor: pointer;
}



/* categorieën */
.cate{
    display: flex;
    gap: 3rem;
}
.card{
    display: flex;
    flex-direction: column;
}

.card > img{
    height: 34.4rem;
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.info{
    display: flex;
    flex-direction: column;
    border-radius: 0 0 8px 8px;
    height: 20rem;
    padding: 2rem;
}

.info--1{
    background: #f37b02;
}

.info--2{
    background: #f8c011;
}

.info--3{
    background: #0065ec;
}

.info--4{
    background: #e30564;
}
.card{
    position: relative;
}

.arrowButton{
    position: absolute;
    top: 46rem;
    background: none;
    color: white;
    border: white solid .2rem;
    border-radius: 50%;
    padding: 2rem 1.6rem;
}

.arrowButton:hover{
    transition: 0.5s;
    background: white;
    color: black;
    cursor: pointer;
}

h3{
font-size: 2.5rem;
color: white;
}

.figureText{
    font-size: 1.5rem;
    color: white;
}




/* steps */
.steps{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.step{
    height: 40rem;
    width: 48.94%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stepImage{
    height: 100%;
    width: auto;
    border-radius: 50%;
    
}
